Specification.Http - RFC-7231 Request Methods

_From @dpwspoon on February 2, 2015 18:25_

Skeleton in RequestMethodsIT

[RFC-7231 section 4](https://tools.ietf.org/html/rfc7231#section-4)

_Copied from original issue: k3po/specification.http#12_