Specification.Http - RFC-7231 Request Header Fields

_From @dpwspoon on February 2, 2015 18:25_

Skeleton in RequestHeaderFieldsIT

[RFC-7231 section 5](https://tools.ietf.org/html/rfc7231#section-5)

_Copied from original issue: k3po/specification.http#11_