Add HTTP language syntax for `write header host`

The `Host` header is often necessary to send on the network such that the receiving HTTP server can properly detect the virtual host being accessed, and the driver currently sends that `Host` header automatically for cases such as:

```
connect http://localhost:8080/path?query
...
```

which on the network becomes:

```
GET /path?query HTTP/1.1
Host: localhost:8080
...
```

However, while that is an appropriate default for typical HTTP client runtime implementations, K3PO needs to be able to describe different kinds of HTTP traffic, such as that required for HTTP proxies.

```
GET http://localhost:8080/path?query HTTP/1.1
...
```

This [absolute-form](http://tools.ietf.org/html/rfc7230#section-5.3.2) should not include a `Host` header, in fact proxy servers are required to ignore a `Host` header and  instead always send a `Host` header with the value determined by the absolute URL.

There is also guidance about the placement of the `Host` header in [RFC-7230, section 5.4](http://tools.ietf.org/html/rfc7230#section-5.4).

```
Since the Host field-value is critical information for handling a
request, a user agent SHOULD generate Host as the first header field
following the request-line.
```

Therefore, we need to be able to both selectively enable / disable automatic injection of the `Host` header and control its placement in the header order.

We already have a similar approach for the HTTP `Content-Length` header as follows:

```
write header content-length
```

and can follow the same approach for the HTTP `Host` header:

```
write header host
```

**Note** this would change the current default behavior to require a `write header host` in each script where a `Host` header is required going forward.
