Suport URI path segment parameters in accept and connect syntax

URIs can have path segment parameters, indicated by a semi-colon in the path segment.

See RFC2396, section 3.3 Path Component.

> **3.3. Path Component**
> 
> The path component contains data, specific to the authority (or the
> scheme if there is no authority component), identifying the resource
> within the scope of that scheme and authority.
> 
> ```
> path          = [ abs_path | opaque_part ]
> 
> path_segments = segment *( "/" segment )
> segment       = *pchar *( ";" param )
> param         = *pchar
> 
> pchar         = unreserved | escaped |
>                 ":" | "@" | "&" | "=" | "+" | "$" | ","
> ```

For example, we use path segment parameters in our WebSocket Emulation paths as follows:

```
accept http://localhost:8000/path/;e/ct
```
