Specification.Http - RFC-7231 Response Status Codes

_From @dpwspoon on February 2, 2015 18:25_

Skeleton in ResponseStatusCodesIT

[RFC-7231 section 6](https://tools.ietf.org/html/rfc7231#section-6)

_Copied from original issue: k3po/specification.http#13_