http specification: missing tests for chunk extensions

The [existing tests for chunked transport](https://github.com/k3po/k3po/tree/develop/specification/http/src/main/scripts/org/kaazing/specification/http/rfc7230/transfer.codings) did not include junk extensions, as defined in [section 4.1.1 of RFC 7230](https://tools.ietf.org/html/rfc7230#section-4.1.1).

@cmebarrow the last time we went down the path of trying to implement this we ended up [here](https://github.com/k3po/k3po/issues/313).  Perhaps a different approach (shared memory?), or something else could help. 

Note, chunking is removed in http2

@dpwspoon We don't have a strong requirement to do this right now. For reaktivity (HTTP nukleus spec tests) we will be using a different approach anyway using shared memory and a generic k3po nuklei streams transport.