Http Sematics to support chunked encoding extensions and trailer

As per [spec](https://tools.ietf.org/html/rfc7230#section-4.1), transfer encoding chunk can have extensions and a trailer.  As of now there is no way to set that in http scripts.

>
>4.1.  Chunked Transfer Coding
>
>   The chunked transfer coding wraps the payload body in order to
>   transfer it as a series of chunks, each with its own size indicator,
>   followed by an OPTIONAL trailer containing header fields.  Chunked
>   enables content streams of unknown size to be transferred as a
>   sequence of length-delimited buffers, which enables the sender to
>   retain connection persistence and the recipient to know when it has
>   received the entire message.
>
>     chunked-body   = *chunk
>                      last-chunk
>                      trailer-part
>                      CRLF
>
>     chunk          = chunk-size [ chunk-ext ] CRLF
>                      chunk-data CRLF
>     chunk-size     = 1*HEXDIG
>     last-chunk     = 1*("0") [ chunk-ext ] CRLF
>
>     chunk-data     = 1*OCTET ; a sequence of chunk-size octets
>
>   The chunk-size field is a string of hex digits indicating the size of
>   the chunk-data in octets.  The chunked transfer coding is complete
>   when a chunk with a chunk-size of zero is received, possibly followed
>   by a trailer, and finally terminated by an empty line.
>
>   A recipient MUST be able to parse and decode the chunked transfer
>   coding.
>
>4.1.1.  Chunk Extensions
>
>   The chunked encoding allows each chunk to include zero or more chunk
>   extensions, immediately following the chunk-size, for the sake of
>   supplying per-chunk metadata (such as a signature or hash),
>   mid-message control information, or randomization of message body
>   size.
>
>     chunk-ext      = *( ";" chunk-ext-name [ "=" chunk-ext-val ] )
>
>     chunk-ext-name = token
>     chunk-ext-val  = token / quoted-string
>
>   The chunked encoding is specific to each connection and is likely to
>   be removed or recoded by each recipient (including intermediaries)
>   before any higher-level application would have a chance to inspect
>   the extensions.  Hence, use of chunk extensions is generally limited
>
>
>
>
>Fielding & Reschke           Standards Track                   [Page 36]
> 
>RFC 7230           HTTP/1.1 Message Syntax and Routing         June 2014
>
>
>   to specialized HTTP services such as "long polling" (where client and
>   server can have shared expectations regarding the use of chunk
>   extensions) or for padding within an end-to-end secured connection.
>
>   A recipient MUST ignore unrecognized chunk extensions.  A server
>   ought to limit the total length of chunk extensions received in a
>   request to an amount reasonable for the services provided, in the
>   same way that it applies length limitations and timeouts for other
>   parts of a message, and generate an appropriate 4xx (Client Error)
>   response if that amount is exceeded.
>
>4.1.2.  Chunked Trailer Part
>
>   A trailer allows the sender to include additional fields at the end
>   of a chunked message in order to supply metadata that might be
>   dynamically generated while the message body is sent, such as a
>   message integrity check, digital signature, or post-processing
>   status.  The trailer fields are identical to header fields, except
>   they are sent in a chunked trailer instead of the message's header
>   section.
>
>     trailer-part   = *( header-field CRLF )
>
>   A sender MUST NOT generate a trailer that contains a field necessary
>   for message framing (e.g., Transfer-Encoding and Content-Length),
>   routing (e.g., Host), request modifiers (e.g., controls and
>   conditionals in Section 5 of [RFC7231]), authentication (e.g., see
>   [RFC7235] and [RFC6265]), response control data (e.g., see Section
>   7.1 of [RFC7231]), or determining how to process the payload (e.g.,
>   Content-Encoding, Content-Type, Content-Range, and Trailer).
>
>   When a chunked message containing a non-empty trailer is received,
>   the recipient MAY process the fields (aside from those forbidden
>   above) as if they were appended to the message's header section.  A
>   recipient MUST ignore (or consider as an error) any fields that are
>   forbidden to be sent in a trailer, since processing them as if they
>   were present in the header section might bypass external security
>   filters.
>
>   Unless the request includes a TE header field indicating "trailers"
>   is acceptable, as described in Section 4.3, a server SHOULD NOT
>   generate trailer fields that it believes are necessary for the user
>   agent to receive.  Without a TE containing "trailers", the server
>   ought to assume that the trailer fields might be silently discarded
>   along the path to the user agent.  This requirement allows
>   intermediaries to forward a de-chunked message to an HTTP/1.0
>   recipient without buffering the entire response.

This was done during BBOSH work.  

That was incorrect. This is still needed for the following tests in specification http

```
    @Test
    @Ignore("requires enhancement https://github.com/k3po/k3po/issues/136")
    public void shouldProcessRequestTransferEncodingChunkedExtension() throws Exception {
        k3po.finish();
    }

    @Test
    @Ignore("requires enhancement https://github.com/k3po/k3po/issues/136")
    public void shouldProcessResponseTransferEncodingChunkedExtension() throws Exception {
        k3po.finish();
    }

    @Test
    @Ignore("requires enhancement https://github.com/k3po/k3po/issues/136")
    public void shouldProcessRequestTransferEncodingChunkedWithTrailer() throws Exception {
        k3po.finish();
    }

    @Test
    @Ignore("requires enhancement https://github.com/k3po/k3po/issues/136")
    public void shouldProcessResponseTransferEncodingChunkedWithTrailer() throws Exception {
        k3po.finish();
    }
```

This issue was moved to kaazing/roadmap#673