Specification.socks5 - Connect with GSSAPI authentication

_From @krismcqueen on January 23, 2015 0:17_

Need tests for connecting with GSSAPI authetication.  See [RFC 1961](https://tools.ietf.org/html/rfc1961) which also references [RFC 2743](https://tools.ietf.org/html/rfc2743) and [RFC 2744](https://tools.ietf.org/html/rfc2744) to describe GSSAPI and how it's used for SOCKS5 connections.

_Copied from original issue: k3po/specification.socks5#2_

_From @krismcqueen on January 23, 2015 0:59_

One of the afore mentioned RFCs is a C-bindings, so perhaps [RFC 2832](https://tools.ietf.org/html/rfc2853), the Java Bindings, is more relevant.